<%= form_for(@event_registrant) do |f| %>
  <% if @event_registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_registrant.errors.count, "error") %> prohibited this event_registrant from being saved:</h2>

      <ul>
      <% @event_registrant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ImportID %><br>
    <%= f.number_field :ImportID %>
  </div>
  <div class="field">
    <%= f.label :FirstName %><br>
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br>
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :Addr1 %><br>
    <%= f.text_field :Addr1 %>
  </div>
  <div class="field">
    <%= f.label :Addr2 %><br>
    <%= f.text_field :Addr2 %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :DonorCategory %><br>
    <%= f.text_field :DonorCategory %>
  </div>
  <div class="field">
    <%= f.label :NextAskAmount %><br>
    <%= f.text_field :NextAskAmount %>
  </div>
  <div class="field">
    <%= f.label :TotalIdentifiedAssets %><br>
    <%= f.text_field :TotalIdentifiedAssets %>
  </div>
  <div class="field">
    <%= f.label :CurrentMajor1kDonor %><br>
    <%= f.number_field :CurrentMajor1kDonor %>
  </div>
  <div class="field">
    <%= f.label :MajorDonorWith1MMinAssets %><br>
    <%= f.number_field :MajorDonorWith1MMinAssets %>
  </div>
  <div class="field">
    <%= f.label :MajorUnderPerformer %><br>
    <%= f.number_field :MajorUnderPerformer %>
  </div>
  <div class="field">
    <%= f.label :MajorUnderPerformingByAmount %><br>
    <%= f.number_field :MajorUnderPerformingByAmount %>
  </div>
  <div class="field">
    <%= f.label :AnnualDonorWith1MMinAssets %><br>
    <%= f.number_field :AnnualDonorWith1MMinAssets %>
  </div>
  <div class="field">
    <%= f.label :AnnualUnderPerformer %><br>
    <%= f.number_field :AnnualUnderPerformer %>
  </div>
  <div class="field">
    <%= f.label :AnnualUnderPerformingByAmount %><br>
    <%= f.number_field :AnnualUnderPerformingByAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
