<%= form_for(@event_registrant) do |f| %>
  <% if @event_registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_registrant.errors.count, "error") %> prohibited this event_registrant from being saved:</h2>

      <ul>
      <% @event_registrant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:ImportID, 'Import ID') %><br>
    <%= f.number_field :ImportID %>
  </div>
  <div class="field">
    <%= f.label(:FirstName, 'First Name') %><br>
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label(:LastName, 'Last Name') %><br>
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label(:Addr1, 'Address Line 1') %><br>
    <%= f.text_field :Addr1 %>
  </div>
  <div class="field">
    <%= f.label(:Addr2, 'Address Line 2') %><br>
    <%= f.text_field :Addr2 %>
  </div>
  <div class="field">
    <%= f.label(:City, 'City') %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label(:State, 'State') %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label(:DonorCategory, 'Donor Category') %><br>
    <%= f.text_field :DonorCategory %>
  </div>
  <div class="field">
    <%= f.label(:NextAskAmount, 'Next Ask Amount') %><br>
    <%= f.text_field :NextAskAmount %>
  </div>
  <div class="field">
    <%= f.label(:TotalIdentifiedAssets, 'Total Identified Assets') %><br>
    <%= f.text_field :TotalIdentifiedAssets %>
  </div>
  <div class="field">
    <%= f.label(:CurrentMajor1kDonor, 'Current Major 1k Donor') %><br>
    <%= f.number_field :CurrentMajor1kDonor %>
  </div>
  <div class="field">
    <%= f.label(:MajorDonorWith1MMinAssets, 'Major Donor With 1m Min Assets') %><br>
    <%= f.number_field :MajorDonorWith1MMinAssets %>
  </div>
  <div class="field">
    <%= f.label(:MajorUnderPerformer, 'Major Under Performer') %><br>
    <%= f.number_field :MajorUnderPerformer %>
  </div>
  <div class="field">
    <%= f.label(:MajorUnderPerformingByAmount, 'Under Performing By Amount') %><br>
    <%= f.number_field :MajorUnderPerformingByAmount %>
  </div>
  <div class="field">
    <%= f.label(:AnnualDonorWith1MMinAssets, 'Annual Donor With 1m Min Assets') %><br>
    <%= f.number_field :AnnualDonorWith1MMinAssets %>
  </div>
  <div class="field">
    <%= f.label(:AnnualUnderPerformer, 'Annual Under Performer') %><br>
    <%= f.number_field :AnnualUnderPerformer %>
  </div>
  <div class="field">
    <%= f.label(:AnnualUnderPerformingByAmount, 'Annual Under Performing By Amount') %><br>
    <%= f.number_field :AnnualUnderPerformingByAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
