<h1>Registered Attendees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_registrants.each do |event_registrant| %>
      <tr>
        <td><%= link_to name, [:], event_registrant %></td>
        <td><%= event_registrant.FirstName %> <%= event_registrant.LastName %></td>
        <td><%= event_registrant.Addr1 %></td>
        <td><%= event_registrant.City %></td>
        <td><%= event_registrant.State %></td>
        <td><%= event_registrant.checked_in %> </td>
        <td><%= link_to 'Show', event_registrant %></td>
        <td><%= link_to 'Edit', edit_event_registrant_path(event_registrant) %></td>
        <td><%= link_to 'Delete', event_registrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registrant', new_event_registrant_path %>
