<h1>Registered Attendees</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Checked In</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @event_registrants.each do |event_registrant| %>
        <tr>
          <td><%= link_to event_registrant.FirstName + " " + event_registrant.LastName, event_registrant %></td>
          <td><%= event_registrant.Addr1 %></td>
          <td><%= event_registrant.City %></td>
          <td><%= event_registrant.State %></td>
          <td>
            <% if event_registrant.checked_in %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
                <%= link_to 'Check In', {controller: "event_registrants", action: "check_in_registrant", id: event_registrant.id}, class: "checked_in" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
