<p id="notice"><%= notice %></p>

<p>
  <strong>Import Id:</strong>
  <%= @event_registrant.ImportID %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @event_registrant.FirstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @event_registrant.LastName %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @event_registrant.Addr1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @event_registrant.Addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event_registrant.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @event_registrant.State %>
</p>

<p>
  <strong>Donor Category:</strong>
  <%= @event_registrant.DonorCategory %>
</p>

<p>
  <strong>Next Ask Amount:</strong>
  <%= @event_registrant.NextAskAmount %>
</p>

<p>
  <strong>Total Identified Assets:</strong>
  <%= @event_registrant.TotalIdentifiedAssets %>
</p>

<p>
  <strong>Current Major 1k Donor:</strong>
  <%= @event_registrant.CurrentMajor1kDonor %>
</p>

<p>
  <strong>Major Donor With 1m Min Assets:</strong>
  <%= @event_registrant.MajorDonorWith1MMinAssets %>
</p>

<p>
  <strong>Major Under Performer:</strong>
  <%= @event_registrant.MajorUnderPerformer %>
</p>

<p>
  <strong>Under Performing By Amount:</strong>
  <%= @event_registrant.MajorUnderPerformingByAmount %>
</p>

<p>
  <strong>Annual Donor With 1m Min Assets:</strong>
  <%= @event_registrant.AnnualDonorWith1MMinAssets %>
</p>

<p>
  <strong>Annual Under Performer:</strong>
  <%= @event_registrant.AnnualUnderPerformer %>
</p>

<p>
  <strong>Annual Under Performing By Amount:</strong>
  <%= @event_registrant.AnnualUnderPerformingByAmount %>
</p>

<%= link_to 'Edit', edit_event_registrant_path(@event_registrant) %> |
<%= link_to 'Back', event_registrants_path %>
