<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table-hover table-bordered table-condensed table">
    <tr>
      <td>
        <strong>Import Id:</strong>
        <%= @event_registrant.ImportID %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>First Name:</strong>
        <%= @event_registrant.FirstName %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Last Name:</strong>
        <%= @event_registrant.LastName %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Address Line 1:</strong>
        <%= @event_registrant.Addr1 %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Address Line 2:</strong>
        <%= @event_registrant.Addr2 %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>City:</strong>
        <%= @event_registrant.City %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>State:</strong>
        <%= @event_registrant.State %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Donor Category:</strong>
        <%= @event_registrant.DonorCategory %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Next Ask Amount:</strong>
        <%= @event_registrant.NextAskAmount %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Total Identified Assets:</strong>
        <%= @event_registrant.TotalIdentifiedAssets %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Current Major 1k Donor:</strong>
        <% if @event_registrant.CurrentMajor1kDonor %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Major Donor With 1m Min Assets:</strong>
        <% if @event_registrant.MajorDonorWith1MMinAssets %>
            Yes
        <% else %>
            No
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Major Under Performer:</strong>
        <% if @event_registrant.MajorUnderPerformer %>
            Yes
        <% else %>
            No
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Under Performing By Amount:</strong>
        <%= @event_registrant.MajorUnderPerformingByAmount %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Annual Donor With 1m Min Assets:</strong>
        <% if @event_registrant.AnnualDonorWith1MMinAssets %>
            Yes
        <% else %>
            No
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Annual Under Performer:</strong>
        <% if @event_registrant.AnnualUnderPerformer %>
            Yes
        <% else %>
            No
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Annual Under Performing By Amount:</strong>
        <%= @event_registrant.AnnualUnderPerformingByAmount %>
      </td>
    </tr>
   </table>
</div>

<%= link_to 'Back', event_registrants_path %>
